html,body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: grey;
    height: 100%;
    margin: 0;
}

html{
    background-image: url(resources/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    opacity: 70%;
    background-color: white;
    
}
.main{
    
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 700px;
    min-width: 1000px;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    font-size: larger;
}

footer{
    text-align: center;
}

.header,
footer{
    background-color: rgb(68, 130, 184);
}

.top_name{
    margin-left: 10px;
    margin-right: auto;
    font-size: 40px;
}
.links{
    margin-right: 10px;
}

.links>a{
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: black;
}
    
.left{
    display: flex;
    justify-content:left;
    align-items: center;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.msg{
    font-size: xx-large;
    margin-bottom: 20px;
}

.errr{
    padding: 2px;
    margin-top: 4px;
    margin-bottom: 8px;
    border: 2px solid red;
    border-radius: 4px;
}

fieldset{
    font-size:larger ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    border: 2px solid;
    border-radius: 8px;
}

.in{
    display: block;
}
input{
    margin: 20px;
    border: none;
    font-size: large;
    border-bottom: 2px solid rgb(68, 130, 184);;
    transition: border-color 200ms ease-in-out, border-bottom-width 200ms ease-in-out;
}

input:invalid{
    border-bottom: 2px solid rgb(219, 17, 17);;
    border-bottom-width: 2px;
}

input:focus{
    outline: none;
}
#arm_up,
#arm_down{
    transition: all 0.2s ease;
}
#arm_down{
    stroke: black;
}

svg:hover #arm_up{
    stroke: black;
    }
svg:hover #arm_down {
   opacity: 0;
}

button{
    background-color: rgb(68, 130, 184);
    height: 40px;
    width: 90px;
    font-size: large;
    border-radius: 10px;
}